* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#home {
  background: #E0CABC;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .content-box {
  width: 50%;
}

#home .content-box.img {
  background-image: url(../images/home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .content-box.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content-box.right h2 {
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 41.75px;
}

#home .content-box.right .content {
  width: 603px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 55px 24px;
}

#home .content-box.right .content h3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #373434;
  margin-bottom: 27.25px;
}

#home .content-box.right .content p {
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #373434;
  margin-bottom: 27.25px;
}

#home .content-box.right .content .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .content-box.right .content .center button {
  background: #000000;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  width: 418.67px;
  height: 70px;
  margin: 0 auto;
}

#mcq {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #B0B8FF;
  padding-top: 101px;
  padding-bottom: 101px;
}

#mcq .container {
  width: 773px;
}

#mcq .container .heading {
  width: 773px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 52px 30px 47px;
  border-radius: 20px;
  margin-bottom: 33px;
}

#mcq .container .heading h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

#mcq .container .heading button {
  width: 228px;
  height: 56px;
  background: #000000;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

#mcq .container .heading.fixed {
  position: fixed;
  width: 773px;
  top: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#mcq .container .questions .question {
  background: #FFFFFF;
  padding: 43px 42px 44px 47px;
  border-radius: 20px;
  margin-bottom: 24px;
}

#mcq .container .questions .question h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 13px;
}

#mcq .container .questions .question .input .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#mcq .container .questions .question .input .radio input {
  margin-right: 16px;
}

#mcq .container .questions .question .input .radio label {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

#mcq .container .questions .question .input .radio:last-child {
  margin-bottom: 0;
}

#time-out {
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(269.85deg, #FF646D 0.12%, #F45656 99.86%);
}

#time-out .content {
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
  padding: 26px 45px 45px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#time-out .content img {
  width: 272px;
  height: 259px;
  margin-bottom: 27px;
}

#time-out .content h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin-bottom: 45px;
}

#time-out .content button {
  width: 344px;
  height: 70px;
  background: #000000;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  border-radius: 5px;
}

#result {
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(269.85deg, #FFDF64 0.12%, #F4D456 99.86%);
}

#result .content {
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
  padding: 26px 45px 45px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#result .content img {
  width: 316px;
  height: 275px;
  margin-bottom: 27px;
}

#result .content h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

#result .content p {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #373434;
  margin-bottom: 47px;
}

#result .content button {
  width: 344px;
  height: 70px;
  background: #000000;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */